name: Deploy
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: docker/login-action@v3
        with:
          registry: swift-app-run.sakuracr.jp
          username: ${{ vars.SAKURA_CLOUD_USER }}
          password: ${{ secrets.SAKURA_CLOUD_PASSWORD }}

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        with:
          file: Infra/Sakura/App/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: swift-app-run.sakuracr.jp/lemo-nade/swift-app-run:latest
